
<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/mandiri-logo.svg" alt="logo" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Login</b></h3>
            <a class="link-primary">Don't have an account?</a>
          </div>
          <form [formGroup]="mainForm">
          <div class="form-group mb-3">
            <label class="form-label" for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" id="username" placeholder="Username" value="administrator" />
            <div *ngIf="mainForm.get('username').touched && mainForm.get('username').invalid" class="text-danger">
              <small *ngIf="mainForm.get('username').errors['required']">Username is required</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" value="password" />
            <div *ngIf="mainForm.get('password').touched && mainForm.get('password').invalid" class="text-danger">
              <small *ngIf="mainForm.get('password').errors['required']">password is required</small>
              <small *ngIf="mainForm.get('password').errors['password']">Must be password type</small>
            </div>
          </div>
          <div class="d-flex mt-1 justify-content-between">
            <div class="form-check">
              <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
              <label class="form-check-label text-muted" for="customCheckc1">Keep me sign in</label>
            </div>
            <h5 class="text-secondary f-w-400"><a href="javascript:">Forgot Password?</a></h5>
          </div>
          <div class="d-grid mt-4">
            <button type="button" (click)="onSubmit()" class="btn btn-primary">Login</button>
          </div>
          <div class="saprator mt-3">
            <span>Login with</span>
          </div>
          <div class="row">
            @for (item of SignInOptions; track item) {
              <div class="col-4">
                <div class="d-grid">
                  <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                    <img src="{{ item.image }}" alt="google img" />
                    <span class="d-none d-sm-inline-block"> {{ item.name }}</span>
                  </button>
                </div>
              </div>
            }
          </div>
          </form>
        </div>
      </div>
      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">Copyright © <a href="">Muhammad Lukmanulhakim</a></p>
        </div>
        
      </div>
    </div>
  </div>
</div>
