<div class="row">
  <form #filterForm="ngForm" class="col-lg-6 col-sm-12">
    <mat-form-field>
      <input matInput name="nameFilter" (input)="applyFilter($event)" placeholder="Search Keyword" ngModel>
    </mat-form-field>
  </form>
  <div class="col-lg-6 col-sm-12 py-3">
    <button [routerLink]="['/master/employee/create']" class="btn btn-outline-primary btn-sm float-end rounded-4">
     + Create
    </button>
  </div>

  <div class="col-lg-12">
    <div class="card tbl-card">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="table table-hover">
      
          <!-- Kolom definisi -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
            <td mat-cell *matCellDef="let element;let i = index;"> {{ i+1 }} </td>
          </ng-container>
      
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>
      
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
      
          <ng-container matColumnDef="birthDate" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Brith Date </th>
            <td mat-cell *matCellDef="let element"> {{element.birthDate | date}} </td>
          </ng-container>
      
          <ng-container matColumnDef="basicSalary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Basic Salary </th>
            <td mat-cell *matCellDef="let element">Rp {{element.basicSalary | number}} </td>
          </ng-container>
      
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
      
          <ng-container matColumnDef="group">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
            <td mat-cell *matCellDef="let element"> {{element.group}} </td>
          </ng-container>
      
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> 
              @if (element.non_generate == 1) {
                <a [routerLink]="'/master/employee/detail/' + element.id" class="text-warning mx-2" ngbTooltip="Edit">
                  <span antIcon type="edit" theme="outline"></span>
                </a>
                <a (click)="deleteEmployee(element.id)" style="cursor: pointer;" class="text-danger mx-2" ngbTooltip="Delete">
                  <i antIcon type="delete" theme="outline"></i>
                </a>
              }
            </td>
          </ng-container>
      
          <!-- Baris untuk header dan data -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <!-- Pagination -->
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
      </div>
      </div>
  </div>

</div>

