<nav>
  <div class="navbar-wrapper">
    <div class="m-header mt-4 mb-4">
      <a href="https://bankmandiri.co.id/" target="_blank" class="b-brand">
        <img src="assets/images/mandiri-logo.svg" width="200" alt="theme-logo" class="logo logo-dark logo-lg" />
        <span class="pt-3"> Employee Management System </span>
      </a>
    </div>
    <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div w-100 compact"></app-nav-content>
  </div>
</nav>
