<div class="row">
  <h1 class="header">Create Employee</h1>
  <form [formGroup]="mainForm">
  <div class="col-lg-12">
    <div class="card my-2">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-end mb-4">
          <h3 class="mb-0"><b>Create Form</b></h3>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label class="form-label" for="firstName">First Name</label>
              <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="First Name" />
              <div *ngIf="mainForm.get('firstName').touched && mainForm.get('firstName').invalid" class="text-danger">
                <small *ngIf="mainForm.get('firstName').errors['required']">First Name is required</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label class="form-label" for="lastName">Last Name</label>
              <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Last Name" />
              <div *ngIf="mainForm.get('lastName').touched && mainForm.get('lastName').invalid" class="text-danger">
                <small *ngIf="mainForm.get('lastName').errors['required']">Last Name is required</small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label" for="company">Username</label>
          <input type="text" formControlName="username" class="form-control" id="username" placeholder="username" />
          <div *ngIf="mainForm.get('username').touched && mainForm.get('username').invalid" class="text-danger">
            <small *ngIf="mainForm.get('username').errors['required']">Username is required</small>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label" for="email">Email Address</label>
          <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email Address" />
          <div *ngIf="mainForm.get('email').touched && mainForm.get('email').invalid" class="text-danger">
            <small *ngIf="mainForm.get('email').errors['required']">Email is required</small>
            <small *ngIf="mainForm.get('email').errors['email']">Must be email type</small>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group mb-3">
              <label class="form-label" for="birthDate">Birth Date</label>
              <input type="date" formControlName="birthDate" class="form-control" id="birthDate" placeholder="birthDate" />
              <div *ngIf="mainForm.get('birthDate').touched && mainForm.get('birthDate').invalid" class="text-danger">
                <small *ngIf="mainForm.get('birthDate').errors['required']">BirthDate is required</small>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group mb-3">
              <label class="form-label" for="basicSalary">Basic Salary</label>
              <input type="number" formControlName="basicSalary" class="form-control" id="basicSalary" placeholder="Rp" />
              <div *ngIf="mainForm.get('basicSalary').touched && mainForm.get('basicSalary').invalid" class="text-danger">
                <small *ngIf="mainForm.get('basicSalary').errors['required']">Basic Salary is required</small>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group mb-3">
              <label class="form-label" for="status">Status</label>
              <select placeholder="Status" formControlName="status" class="form-control" id="status">
                <option value="">Select an option</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
                <option value="On Leave">On Leave</option>
              </select>
              <div *ngIf="mainForm.get('status').touched && mainForm.get('status').invalid" class="text-danger">
                <small *ngIf="mainForm.get('status').errors['required']">Status is required</small>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group mb-3">
              <label class="form-label" for="group">Group</label>
              <select placeholder="Group" formControlName="group" class="form-control" id="group">
                <option value="">Select an option</option>
                <option value="IT">IT</option>
                <option value="Finance">Finance</option>
                <option value="Admin">Admin</option>
              </select>
              <div *ngIf="mainForm.get('group').touched && mainForm.get('group').invalid" class="text-danger">
                <small *ngIf="mainForm.get('group').errors['required']">Group is required</small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label" for="description">Description</label>
         <textarea formControlName="description" class="form-control" id="description"></textarea>
          <div *ngIf="mainForm.get('description').touched && mainForm.get('description').invalid" class="text-danger">
            <small *ngIf="mainForm.get('description').errors['required']">description is required</small>
          </div>
        </div>
        <div class="d-grid mt-3">
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Create Employee</button>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>